<div class='container' id="home-container">

<h1>All Plants</h1>

<h3 class="add-button"><a href="/plants/new">Add plant</a></h3>
<br>

<div class="row">

</div>
<div class="plant">

  <% for plant in @plants %>
  <div class="plant-info">

  <table class="plant-table">
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Stock</th>
      <th>Buying Cost</th>
      <th>Selling Price</th>
      <th>Stock Level</th>
      <th>Mark Up</th>
      <th>Plant Type</th>
      <th>Nursery</th>
      </tr>
    <tr>


      <td><a href="/plants/<%= plant.id %>"><img class="plant-logo-intable" src="/images/<%= plant.name.downcase%>.jpg" alt="<%= plant.name.downcase%>"></td>
      <td><a class="name" href="/plants/<%= plant.id %>"> <%= plant.name %></a></td>
      <td><%=plant.stock_quantity %> units</td>
      <td>£<%=plant.buying_cost %></td>
      <td>£<%=plant.selling_price %></td>
      <td><%=plant.stock_status %></td>
      <td>£<%=plant.mark_up %></td>
      <td><%=plant.plant_type %></td>
      <td><%= plant.nursery.name %></td>
    </tr>
    </table>
    <br>







  </div>
  <% end %>

</div>
