<div class='container' id="home-container">
<div class="container" id="show-container">
  <h1 class="plant-name"><%= @plant.name %></h1>
<br>
  <p><a class="button" href="/plants/<%= @plant.id %>/edit">Edit Plant</a></p>
    <form action="/plants/<%=@plant.id%>/delete" method="POST">
      <input class="delete-button" type="submit" value="Delete Plant">
    </form>
<br>
  <div class="row">
    <table class="plant-table-show">
      <tr>
        <th>Stock</th>
        <th>Stock Level</th>
        <th>Buying Cost</th>
        <th>Selling Price</th>
        <th>Mark Up</th>
        <th>Plant Type</th>
        <th>Nursery</th>
      </tr>
      <tr>
        <td><%= @plant.stock_quantity%> units</td>
        <td><%=@stock%></td>
        <td>£<%= @plant.buying_cost%></td>
        <td>£<%= @plant.selling_price%></td>
        <td>£<%=@mark_up%></td>
        <td><%= @plant.plant_type %></td>
        <td><%= @plant.nursery.name %></td>
      </tr>
    </table>
    </div>
    <table class="plant-selling-points">
      <tr>
        <td><img class="plant_logo" src="/images/<%= @plant.name.downcase%>.jpg" alt="<%= @plant.name.downcase%>"></td>
        <td><%= @plant.usp %></td>
      </tr>
    </table>
  </div>
</div>
